name: Check renovate config

on:
  push:
    paths:
      - renovate.json
      - .node-version

jobs:
  validate-renovate-config:
    timeout-minutes: 10
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setting up Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: .node-version

      - name: validating renovate config
        run: npx --package renovate -c 'renovate-config-validator'
